
body{
    height: 100vh;
    width: 100vw;
    background: url("../images/train.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
	text-align: center;
	color: rgb(6, 110, 255);
	font-size: 5vw;
}

form {
    display: block;
    margin-top: 0em;
}

input[type=submit] 
{
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

b {
	color: red;
}